name: Build and Deploy app to GitHub Pages - Composite

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-deploy-gh-pages:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Build and Deploy glnk-dev Webapp to GitHub Pages
        uses: glnk-dev/webapp@main
        with:
          GLNK_USERNAME: lucetre
          GLNK_PUBLIC_URL: /webapp
          GLNK_PATH_SEGMENTS: 0
          GLNK_ACCESS_MODE: public
